CORS_ORIGINS=https://www.cosmographic.store,https://shop.cosmographic.store,http://localhost:3000
PORT=8000
EPHE_PATH=./ephe
NOMINATIM_USER_AGENT=CosmographicNatalCustomizer/0.1 (cosmographicstore@gmail.com)
NOMINATIM_BASE_URL=https://nominatim.openstreetmap.org
