# Optional: absolute or relative path to Swiss Ephemeris .se1 data files.
# Download sepl_18.se1, semo_18.se1, seas_18.se1 into ./ephe (see README).
# EPHE_PATH=./ephe
NOMINATIM_USER_AGENT=CosmographicNatalCustomizer/0.1 (cosmographicstore@gmail.com)
NOMINATIM_BASE_URL=https://nominatim.openstreetmap.org
CORS_ORIGINS=http://localhost:3000
PORT=8000
